doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
    script(type='text/javascript', src='/scripts/script.js')
    script.
      document.addEventListener("touchstart", function(){}, true);
  body
    div.container
      img.logo(src='/img/logo.png')
    block content
    div.container
      #google_translate_element
        script(type='text/javascript').
            function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.BOTTOM_RIGHT}, 'google_translate_element');
            }
          script(type='text/javascript', src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')
      p.footer
        a(rel='license', href='http://creativecommons.org/licenses/by-sa/4.0/')
          img(alt='Creative Commons License', style='border-width:0', src='https://i.creativecommons.org/l/by-sa/4.0/80x15.png')
        span= " Built during the National Day of Civic Hacking 2015 with the City of Cambridge. CC-BY-SA license. Please report issues "
          a(href='http://github.com/davidlago/ndoch_lobstah/issues')= "here!"