extends layout

block content
  div.container
    h1.title= 'Here are your resources!'
    h4.subtitle= 'Huzzah!'

    p.footer= "This is a footer. It contains stuff that goes in the footer of the webpage but this is just filler text."
